# Overview
- submission dataframe からランキングテーブルを作る

In [41]:
import pandas as pd
import numpy as np

In [56]:
sub_dict = {'a': [0.1, 0.2, 0.3, 0.6],
            'b': [0.11, 0.22, 0.33],
            'c': [0.14, 0.24],
            'd': [0.3, 0.1, 0.1, 0.3, 0.5]}
sub_dict

{'a': [0.1, 0.2, 0.3, 0.6],
 'b': [0.11, 0.22, 0.33],
 'c': [0.14, 0.24],
 'd': [0.3, 0.1, 0.1, 0.3, 0.5]}

In [57]:
df = pd.DataFrame()
# df['name'] = ['a', 'b', 'c']
names = []
scores = []
for name in sub_dict.keys():
    for score in sub_dict[name]:
        names.append(name)
        scores.append(score)
df['name'] = names
df['score'] = scores
df

   name  score
0     a   0.10
1     a   0.20
2     a   0.30
3     a   0.60
4     b   0.11
5     b   0.22
6     b   0.33
7     c   0.14
8     c   0.24
9     d   0.30
10    d   0.10
11    d   0.10
12    d   0.30
13    d   0.50

---

## create ranking_table

names

In [58]:
names = df['name'].unique()
names

array(['a', 'b', 'c', 'd'], dtype=object)

<br>

n_subs

In [69]:
n_subs = []
for name in names:
    n_sub = sum(df['name']==name)
    n_subs.append(n_sub)
    
n_subs

[4, 3, 2, 5]

<br>

max_score

In [70]:
max_scores = []
for name in names:
    idx = df['name']==name
    max_scores.append(df[idx]['score'].max())
max_scores

[0.6, 0.33, 0.24, 0.5]

<br>

ranking_table

In [71]:
df_rank = pd.DataFrame()
df_rank['#'] = np.arange(len(names))
df_rank['Name'] = names
df_rank['Score'] = max_scores
df_rank['N_Submission'] = n_subs
df_rank

   # Name  Score  N_Submission
0  0    a   0.60             4
1  1    b   0.33             3
2  2    c   0.24             2
3  3    d   0.50             5

In [ ]:
# create ranking table from participants
names = df['name'].unique()
n_subs = []
for name in names:
    n_sub = sum(df['name']==name)
    n_subs.append(n_sub)
max_scores = []
for name in names:
    idx = df['name']==name
    max_scores.append(df[idx]['score'].max())
df_rank = pd.DataFrame()
df_rank['#'] = np.arange(len(names))
df_rank['Name'] = names
df_rank['Score'] = max_scores
df_rank['N_Submission'] = n_subs